body {
  font-family: 'Roboto', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  letter-spacing: 0.02em;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  padding: 0 15px 0 15px;
  margin: 0 auto;
  width: 1110px;
  margin: 0 auto;
}

.page-header {
  margin: 0 auto;
  background-color: #373a3c;
  height: 60px;
  max-width: 1400px;
  border-bottom: 1px solid  #686c6f;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.page-header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 96px;
  margin-top: 15px;
}

.main-nav__list {
  margin-top: 21px;
  margin-left: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.main-nav__item--is-active {
  color: #fff;
}

.main-nav__item:not(:last-child) {
  margin-right: 45px;
}

.main-nav__item:last-child {
  margin-right: 37px;
}

.main-nav__arrow {
  position: absolute;
  top: 8px;
  left: 59px;
}

.main-nav__arrow--console {
  position: absolute;
  top: 8px;
  left: 69px;
}

.header-form__search {
  background-color: white;
  width: 209px;
  height: 38px;
  padding-left: 15px;
  margin-top: 11px;
  border: 1px solid;
  border-style: none;
  border-radius: 4px;
  outline: none;
}

.user-cabinet {
  position: relative;
  margin-top: 21px;
  margin-left: 54px;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.user-cabinet__icon--arrow {
  position: absolute;
  top: 8px;
  left: 75px;
}

.user-cabinet__icon {
  position: absolute;
  left: -30px;
}

.hero-container {
  max-width: 100%;
  max-height: 100%;
}

.hero {
  position: relative;
  margin: 0 auto;
  padding-top: 210px;
  padding-left: 834px;
  max-width: 1400px;
  height: 644px;
  background-color: #373a3c;
  background-image: url(../images/Star-Wars-Battlefront-II-combat.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.hero__title--lower {
  font-size: 24px;
  line-height: 28px;
}

.hero__links {
  margin-top: 135px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hero__btn {
  text-align: center;
  padding-top: 8px;
  width: 136px;
  height: 38px;
  color: #ffffff;
  background-color: #8dd83d;
  border-radius: 4px;
}

.hero__btn--second {
  width: 148px;
  margin-left: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(#686c6f), to(#373a3c));
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
}

.hero__prev--btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 135px;
  height: 644px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hero__next--btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 644px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hero__indicators {
  position: absolute;
  top: 594px;
  left: 675px;
}

.highlight {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 164px;
  max-width: 1400px;
  background: radial-gradient(100% 100% at 50% 0%, #686c6f 0%, #373a3c 100%);
}

.highlight__logo {
  margin-left: 50%;
  margin-bottom: 16px;
}

.highlight__title {
  margin-left: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.highlight__title--lower {
  font-size: 36px;
  line-height: 42px;
}

.cardset {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardset__item {
  width: 320px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #8dd83d;
  border-radius: 4px;
}

.cardset__item:not(:last-child) {
  margin-right: 55px;
}

.cardset__thumb {
  width: 318px;
  height: 180px;
}

.cardset__thumb--mixer {
  padding: 54px;
}

.cardset__thumb--livegold {
  padding: 33px 59px;
}

.cardset__content {
  margin-top: 22px;
  margin-left: 22px;
}

.cardset__title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #435766;
}

.cardset__meta {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 28px;
  color: #435766;
}

.cardset_btn {
  text-align: center;
  padding-top: 19px;
  width: 278px;
  height: 60px;
  color: #ffffff;
  background-color: #8dd83d;
  border-radius: 4px;
}

.game-section {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  height: 880px;
  padding: 97px 0 140px;
  overflow: hidden;
  background-image: url(../images/back-games.jpg);
}

.game-section::after {
  content: '';
  position: absolute;
  top: 746px;
  width: 1400px;
  height: 880px;
  background-color: rgba(23, 23, 23, 0.5);
}

.next--btn {
  position: absolute;
  top: 104px;
  right: 54px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.games-section__title {
  margin-left: 287px;
  margin-bottom: 54px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.cardset-games {
  position: absolute;
  left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardset-games__item {
  opacity: 0.9;
  width: 320px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #8dd83d;
  border-radius: 4px;
}

.cardset-games__item--scale {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin-left: 16px;
}

.cardset-games__item--steep {
  margin-left: 16px;
}

.cardset-games__item:not(:last-child) {
  margin-right: 16px;
}

.cardset-games__thumb {
  width: 318px;
  height: 180px;
}

.cardset-games__thumb--mixer {
  padding: 54px;
}

.cardset-games__thumb--livegold {
  padding: 33px 59px;
}

.cardset-games__content {
  margin-top: 22px;
  margin-left: 22px;
}

.cardset-games__title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #435766;
}

.cardset-games__title--mb {
  margin-bottom: 109px;
}

.cardset-games__meta {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 28px;
  color: #435766;
}

.cardset-games__btn {
  opacity: 2;
  text-align: center;
  padding-top: 19px;
  width: 278px;
  height: 60px;
  color: #ffffff;
  background-color: #8dd83d;
  border-radius: 4px;
}

.cardset-games__btn--opacity {
  opacity: 0.9;
}

.games-section__btn {
  position: absolute;
  top: 687px;
  left: 597px;
  text-align: center;
  padding-top: 11px;
  width: 207px;
  height: 53px;
  color: #ffffff;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#686c6f), to(#373a3c));
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
}

.desing-lab {
  position: relative;
  margin: 0 auto;
  padding: 114px 0 145px;
  max-width: 1400px;
  background-image: url(../images/gamepads.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.desing-lab__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 10px;
  color: #ffffff;
}

.desing-lab__meta {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  width: 533px;
}

.desing-lab__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 39px;
}

.desing-lab__btn {
  text-align: center;
  padding-top: 19px;
  width: 207px;
  height: 60px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#686c6f), to(#373a3c));
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
}

.desing-lab__btn--second {
  width: 278px;
  margin-left: 13px;
  background: #8dd83d;
}

.page-footer {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  height: 395px;
  background-color: #373A3C;
  padding-top: 58px;
}

.page-footer::after {
  content: '';
  position: absolute;
  top: 80%;
  left: 7%;
  width: 1200px;
  border: 1px solid white;
  opacity: 0.35;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #7DD42F;
  margin-bottom: 35px;
}

.link {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.develop-side {
  margin-left: 339px;
}

.social-side {
  margin-left: 278px;
}

.social-side__link {
  display: inline;
  margin-right: 20px;
  color: #7DD42F;
}

.social-side__icon {
  fill: currentColor;
}

.lang-side__item {
  position: absolute;
  top: 338px;
  left: 7%;
}

.lang-side__symbol {
  position: absolute;
  top: 338px;
  right: 7%;
}
/*# sourceMappingURL=main.css.map */